<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
  </head>
  <body>
    <div class="game-area">

    </div>

    <script class="home" type="text/template">
      <div>
        <h1>This is home page and yes it is lit</h1>
        <p>YEAAAAAAHHHHHHHH</p>
        <button onclick="toSync()">to sync</button>
      </div>
    </script>

    <script class="sync" type="text/template">
      <div>
        <h1>This is sync page and yes it is awesome</h1>
        <p>KRAAAAAAYY</p>
        <button onclick="toChar()">to char</button>
      </div>
    </script>

    <script class="char" type="text/template">
      <div>
        <h1>SUCCESS AND IT IS SPECTACULAR !!!</h1>
        <p>OOKAAAY</p>
      </div>
    </script>


    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/homeScript.js"></script>

  </body>
</html>
