<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Express Chat App :)</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/indexScript.js"></script>
  </body>


</html>
